<?xml version="1.0"?>
<configuration>
	<!--log4net-->
	<configSections>
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFile"
				  type="log4net.Appender.RollingFileAppender">
			<file value="logs\\WCF.log" />
			<appendToFile value="true" />
			<rollingMode value="Date" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
	
	<!--MSSQL connection string-->
	<connectionStrings>
		<add name="sinhvienDB" connectionString="Server=10.0.1.207\sql2k16;Database=QuanLySinhVien;User Id=sa;Password=ekgis@2907;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<!--appsettings-->
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
	
    <system.web>
        <compilation debug="true" targetFramework="4.5.1" />
        <httpRuntime targetFramework="4.5.1"/>
    </system.web>
	
    <system.serviceModel>
        <!-- settings services -->
        <services>
			<service name="quanlysinhvien.Services.LogService">
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="quanlysinhvien.Services.ILogManagementService"
						  behaviorConfiguration="web" />
			</service>
			<service name="quanlysinhvien.Services.StatisticsService">
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="quanlysinhvien.Services.IStatisticsService"
						  behaviorConfiguration="web" />
			</service>
            <service name="quanlysinhvien.Services.KhoaService" 
                    behaviorConfiguration="ServiceBehavior">
                <endpoint address="" 
                        binding="webHttpBinding" 
                        contract="quanlysinhvien.IServices.IKhoaService"
                        behaviorConfiguration="web"/>
            </service>
			<service name="quanlysinhvien.Services.LopService" 
                    behaviorConfiguration="ServiceBehavior">
                <endpoint address="" 
                        binding="webHttpBinding" 
                        contract="quanlysinhvien.IServices.ILopService"
                        behaviorConfiguration="web"/>
            </service>
			<service name="quanlysinhvien.Services.MonHocService" 
                    behaviorConfiguration="ServiceBehavior">
                <endpoint address="" 
                        binding="webHttpBinding" 
                        contract="quanlysinhvien.IServices.IMonhocService"
                        behaviorConfiguration="web"/>
            </service>
			<service name="quanlysinhvien.Services.BangdiemService" 
                    behaviorConfiguration="ServiceBehavior">
                <endpoint address="" 
                        binding="webHttpBinding" 
                        contract="quanlysinhvien.IServices.IBangdiemService"
                        behaviorConfiguration="web"/>
            </service>
			<service name="quanlysinhvien.Services.SinhvienService" 
                    behaviorConfiguration="ServiceBehavior">
                <endpoint address="" 
                        binding="webHttpBinding" 
                        contract="quanlysinhvien.IServices.ISinhvienService"
                        behaviorConfiguration="web"/>
				<endpoint address="infor"
                        binding="webHttpBinding"
                        contract="quanlysinhvien.IServices.IInforSinhvienService"
                        behaviorConfiguration="web"/>
            </service>
		    <service name="quanlysinhvien.Services.GiangVienService" 
                    behaviorConfiguration="ServiceBehavior">
                <endpoint address="" 
                        binding="webHttpBinding" 
                        contract="quanlysinhvien.IServices.IGiangvienService"
                        behaviorConfiguration="web"/>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="web">
					<!--<enableWebScript />-->
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="webHttpBinding" scheme="https" />
        </protocolMapping>
		<serviceHostingEnvironment
	     aspNetCompatibilityEnabled="true"
	     multipleSiteBindingsEnabled="true"
	     minFreeMemoryPercentageToActivateService="0"/>
    </system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>

		<!-- <handlers>
			<add name="StaticFileJS"
				 path="*.js"
				 verb="GET,HEAD"
				 modules="StaticFileModule"
				 resourceType="File"
				 requireAccess="Read"
				 preCondition="" />
			<add name="StaticFileCSS"
				 path="*.css"
				 verb="GET,HEAD"
				 modules="StaticFileModule"
				 resourceType="File"
				 requireAccess="Read"
				 preCondition="" />
		</handlers>

		<staticContent>
			<mimeMap fileExtension=".js"   mimeType="application/javascript" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".css"  mimeType="text/css" />
		</staticContent> -->

		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="index.aspx" />
			</files>
		</defaultDocument>

		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
			</customHeaders>
		</httpProtocol>

		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
